{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Web Cart</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
</head>
<body>
    <header>
        <center>
        <div class="overlay">
            <h1 class="main_title">ECOMMERCE WEB CART</h1>
        <div class="nav-links">
            <a href="{% url 'ecommerce:home_page' %}">Home</a>
            <a href="{% url 'ecommerce:cart_page' %}">Cart</a>
           <form action="{% url 'ecommerce:searchresult' %}" method="get" role="search">
                    {% csrf_token %}
                    <input type="search" placeholder="Search" name="q" aria-label="Search">
                    <button type="submit">Search</button>
                </form>

        </div>
        </div>
            </center>
    </header>
    <h1>Category</h1>
<ul class="category-list">
    {% for cat in category %}
    <li>
        <a href="{% url 'ecommerce:category_product_list' cat.id %}">
        <img src="{{ cat.image.url }}" alt="{{ cat.name }}">
        <p class="category-name">{{ cat.name }}</p>
        </a>
    </li>
    {% endfor %}
</ul>






</body>
</html>
